@using WarehouseBLL.BusinessServices.View_Models
@using WarehouseBLL.Const
@model CategoryViewModel

<tr id="row-@Model.Id" data-id="@Model.Id">
    <td>@Model.Name</td>

    <td>
        @if (Model.LastAction == LastActionName.Delete)
        {
            <span class="badge bg-label-danger">@_localization["Deleted"]</span>
        }
        else
        {
            <span class="badge bg-label-success">@_localization["Active"]</span>
        }
    </td>

    <td>
        <a href="javascript:;" data-url="/Categories/Edit/@Model.Id"
           class="btn btn-sm btn-label-primary item-edit js-render-modal"
           data-title="@_localization[DisplayNames.Edit]" data-update="true">
            @_localization[DisplayNames.Edit]
        </a>
    </td>

    <td>
        @if (Model.LastAction != LastActionName.Delete)
        {
            <a href="javascript:;" data-url="/Categories/Delete/@Model.Id"
               class="btn btn-sm btn-label-danger item-edit js-toggle-status" data-id="@Model.Id">
                @_localization[DisplayNames.Delete]
            </a>
        }
        else
        {
            <a href="javascript:;" data-url="/Categories/Restore/@Model.Id"
               class="btn btn-sm btn-label-success item-edit js-toggle-status" data-id="@Model.Id">
                @_localization[DisplayNames.Restore]
            </a>
        }
    </td>
</tr>