@using WarehouseBLL.BusinessServices.View_Models.Product
@using WarehouseBLL.Const
@model IEnumerable<ProductViewModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
    ViewBag.Title = _localization["Products"];
}

<div class="card">
    <div class="card-datatable text-nowrap">
        <table class="js-table datatables-basic table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>@_localization["ProductCode"]</th>
                    <th>@_localization[DisplayNames.Name]</th>
                    <th>@_localization["Category"]</th>
                    <th>@_localization["BaseUnit"]</th>
                    <th>@_localization["SellingPrice"]</th>
                    <th>@_localization["MinQty"]</th>
                    <th>@_localization[DisplayNames.Status]</th>
                    <th class="js-no-export" data-i18n="Edit">@_localization[DisplayNames.Edit]</th>
                    <th class="js-no-export" data-i18n="DeleteOrRestore">@_localization[DisplayNames.DeleteOrRestore]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <partial name="_Row" model="@product" />
                }
            </tbody>
        </table>
    </div>
</div>

<div id="create-button-data"
     data-address="@_localization["Products"]"
     data-title="@_localization[DisplayNames.Add]"
     data-url="@Url.Action("Create", "Products")"
     data-label="@_localization[DisplayNames.Add]"
     data-mode="redirect"></div>

<input type="hidden" id="RequestVerificationToken" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}